img{
    border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
    width: 200px;
   }
.k1{
    left: 10px;
    top: 10px;
}

#d1{
    position: absolute;
    width: 100px;
    height: 100px;
}

#d2{
    position: absolute;
    width: 100px;
    height: 80px;
    top: 255px;
    left: 255px;
}

#d3{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 255px;
    left: 500px;
}